
  @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
  @import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
.column {    
    display: inline-block;
margin-left: 183px;
margin-right:183px;
	
	
}
  body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
  }

  html {
    height: 100%;
  }


  a{
    color:#C03035;
  }

  a:hover {
    outline: none;
    text-decoration:none;
    color:#4fcccd;
  }

  a:focus {
    outline:none;
    outline-offset: 0;
  }

  a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }


  ul {
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  h1{
    color: #686868;
  }

  h2{
    font-size: 24px;
    color: #686868;
  }

  h3{
    font-size: 18px;
  }

  .overflow{
    overflow: hidden;
  }

  .uppercase{
    text-transform: uppercase;
  }

  .btn-common {
    font-size: 14px;
    color: #0099ae;
    border: 1px solid #0099ae;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 25px;
  }

  #action .col-sm-5{
    position: absolute;

    top: 0;
    height: 100%;
    right: 0;
  }


  .btn-common:hover, 
  .btn-common:focus{
    outline: none;
    background: none;
    box-shadow: none;
    color: #01707f;
    border-color:#01707f;
  }

  .align-right{
    text-align: right;
  }

  .inline{
    display: inline-block;
  }

  .padding{
    padding: 65px 0;
  }

  .padding-bottom{
    padding-bottom: 65px;
  }

  .padding-top{
    padding-top: 90px;
  }

  .padding-right{
    padding-right: 80px;
  }

  .padding-left{
    padding-left: 80px;
  }

  .margin-bottom{
    margin-bottom: 35px;
  }

     .carousel-indicators.visible-xs {
      height: 20px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: -35px;
      width: 100%;
      left: 0;
    }

  .carousel-indicators.visible-xs li {
    border-color: #D29948;
    border-width: 2px;
    height: 12px;
    margin: 0 5px 0 0;
    width: 12px;
  }

  .carousel-indicators.visible-xs li.active {
    background: rgba(210, 153, 72, 0.7);
  }


/*************************
*******Header******
**************************/


#header{
  margin-bottom: 0;
  padding: 30px 0 60px 0;

}

#header .navbar-inverse .container{
  position: relative;
  
}

.search{
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 1;
}

.search i{
  color: #00aeef;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 2px;
}

.field-toggle{
  position: relative;
  top: 30px;
  right: 15px;
  display: none;
  height: 50px;
}


.social-icons ul li{
  padding: 0 10px;

}

.social-icons ul li:last-child{
  padding-right: 0;

}

.social-icons ul li a{
  font-size: 18px;
  color: #d3d3d3;
  padding: 0;
}

.social-icons ul li a:hover .fa-facebook {
  color:#0884d5;
}

.social-icons ul li a:hover .fa-twitter {
  color:#2AA7DC;
}

.social-icons ul li a:hover .fa-google-plus {
  color:#A22523;
}

.social-icons ul li a:hover .fa-dribbble {
  color:#E94989;
}

.social-icons ul li a:hover .fa-linkedin {
  color:#006DC0;
}

.social-icons ul li a:hover,
.social-icons ul li a:focus{  
  background: none;
}

#header .navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0;
}

#header .navbar-toggle{
  margin-top: 20px;
}

#header .navbar-brand{
  padding: 0;
  margin-left: 0;
}

#header .navbar-brand h1{
  padding: 0;
  margin: 0;
}

#header .navbar-nav.navbar-right >li:last-child{
  margin-right: 20px;
}

#header .navbar-nav.navbar-right >li a {
  color: #00aeef;
  font-size: 15px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
}


#header .navbar-inverse .navbar-nav  li.active > a,  
#header .navbar-inverse .navbar-nav  li.active > a:focus, 
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #00aeef;
}

#header .navbar-inverse .navbar-nav  li a:hover{
  color: #000;
}


/*  Dropdown menu*/

ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#header .navbar-nav li ul.sub-menu li a{
  color: #818285;
  padding: 5px 0;
  font-size: 13px;
  display: block;
  text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active{
  background: #00aeef;
  color: #fff;
  position: relative;
}

#header .navbar-nav li ul.sub-menu li .active i{
  position: absolute;
  font-size: 56px;
  top: -13px;
  color: #00aeef;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right{
  left: -3px;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-left{
  right: -3px;
}

#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus{
  background: #fff;
  color: #00aeef;
}

.fa-angle-down{
  padding-left: 5px; 
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/*************************
*******Home Page******
**************************/
#home-slider {
  background: url(../images/home/slider-bg.png) 0 100% repeat-x;
  position: relative;
}

#home-slider .main-slider {
  position: relative;
  height: 450px;
}

#home-slider .slide-text{
  position: absolute;
  top: 50px;
  left: 0;
  

  
}
#home-slider .slide-text h1{
	font-weight: 700;
	font-size: 38px;
}
#home-slider .slide-text p{
	font-weight: 10;
	font-size: 20px;
}
.animate-in .slide-text {
  -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
  animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
}

#home-slider .slider-hill {
  position: absolute;
  right: 0;
  bottom: 0;
width: 50%;
}

#home-slider h1{
  margin-top: 100px;
  margin-bottom: 25px;
  
  
}



.title {
  color: #404040;
  font-weight: 700;
  font-size: 45px;
}
.paragraph  {
	font-size: 18px;
}


.single-features {
  overflow: hidden;
  padding-top: 65px;
  padding-bottom: 40px;
}

.single-features .col-sm-6 {
  margin-top: 50px;
}

.single-features:last-child {
  padding-bottom: 95px;
  padding-top: 0;
}

.single-features h2{
  margin-bottom: 15px;
}

#clients{
  padding-bottom: 45px;
}

.clients {
  margin-bottom: 45px;
}

.clients img {
  display: inline-block;
}

.clients-logo {
  overflow: hidden;
  margin-bottom: 10px;
}



/*************************
*******About Us Page******
**************************/

#action , 
#page-breadcrumb{
  position: relative;
}

#page-breadcrumb {
	
  background-image: url(../images/home/tour-bg.png);
  background-color: #fbfafa;
  background-repeat: repeat-x;
  height: 150px;
  background-position: center;
  display: table;
  position: static;
  width: 100%;
}

#team {
  padding: 85px 0;
}

#team-carousel {
  margin-top: 80px;
}

#company-information .padding-top{
  padding-top: 172px;
  
}

.single-service img {
  height: 85px;
}

.tour-button {
  background-image: url(../images/home/tour-icon2.png);
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  left: 0;
  background-position: 151px 4px;
}

.about-image {
  padding:90px 90px 0;
}

.team-single {
  position: relative;
}

.person-thumb {
  position: relative;
  /* max-width: 200px;
  max-height: 200px;
  height:200px;
  width:200px; */
  /* padding:90px 90px 0; */
  /* border-radius: 20%; */
  /* radius */
}

.person-thumb img {
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
    filter: gray;
    -webkit-transition: all .2s ease;
}


.person-thumb img:hover {    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none; }
.image-overlay { display: none !important; }






.person-info h2 {
	margin-top:1px;
	font-size: 13px;
  font-weight: 600;
  margin-bottom: 2px;
}

.person-info p {
  font-size: 13px;
  color: #686868;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.team-carousel-control {
  position: absolute;
  top: 36%;
  width: 13px;
  height: 16px;
  text-indent: -9999999px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}



.team-carousel-control:hover{
  background-position: 0 -18px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.count h1{
  font-size: 60px;
  color: #00aeef;
}

.count h3{
  font-size: 16px;
}

.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition:  width 1s ease-in-out;
}

.top-zero{
  margin-top: 0;
}

h3.top-zero{
  font-size: 20px;
}

#company-information .about-us h2{
  margin-bottom: 45px;
}

.single-skill h3{
  font-size: 16px;
}

.progress{
  height: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress-bar{
  line-height: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress-bar.progress-bar-primary{
  background: #00aeef;
}


.feature-inner{
  text-align: center;
}
.icon-wrapper{
  display: inline-block;
  background-color: #4FCCCD;
  color: #fff;
  padding: 25px;
  box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
  border-radius: 100%;
  margin: 10px 0;
}

